<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Super Cool Friends List</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
          
    <%=puts "Task"
    task = gets.chomp
    puts "#{task}"
      
    puts "Time Due"
    time_due = gets.chomp
    puts "#{time_due}"
      
    puts "Class"
    class_1 = gets.chomp
    puts "#{class_1}"%>


  </body>
</html>
